.parent-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
}

.child {
    padding: 20px;
    margin: 10px;
    background-color: gray;
    color: white;
}